.App,body,html {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  padding: 10px 0;
  /* height: 100vh; */
  overflow-x: hidden;
}
.form-container{
  background:#E8EAED;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 700px;
  height: 820px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-container-header{
background: #E8EAED;
display: flex;
align-items: flex-start;
justify-content: center;
width: 100%;
height:100px;
}
.form-container-header-img{
background-image: url(./assets/logo.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
width: 40%;
height:80px;
}
*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.report-pre-info-container{
  background: #E8EAED;
  display: grid;
  grid-template-areas:
    'officer officer officer officer date date  date  time time'
    'location location location location location location location location location'
    'type type type type type  code code code code'
    'detail detail detail detail detail detail detail detail detail'
    'agency agency agency agency agency agency agency agency agency'
    ;
  gap: 0;
  width: 98%;
  height:280px;
}
.report-pre-info-container-grid-item{
  /* border:solid #DCDDE1 1px; */
  position: relative;
  height:60px;
}
.report-pre-info-container-grid-item label{
  /* border:seagreen 1px solid; */
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  position: absolute;
  top:0;
  top:.5px;
  padding: 20px 10px;
}
.report-pre-info-container-grid-item input{
  /* border:seagreen 1px solid; */
  border:none;
  background:none;
  color: #515151;
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
  font-weight: 400;
  padding: 0;
  position: absolute;
  right:20px;
  top:25px;
  /* width: 85% !important; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

.report-pre-info-container--select{
  border:none;
  background:none;
  padding:0;
  height: 24px;
  position: absolute;
  right: 20px;
  top:18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}


.report-pre-info-container--select:focus{
  outline: none;
  border-bottom: 3px solid #55c57a;
}

.report-pre-info-container-grid-item input:focus{
  outline: none;
  border-bottom: 3px solid #55c57a;
}
#officer{
  width: 73.5%;
}
#date{
  width:70%;
}
#time{
  width: 53%;
}
#location{
  width: 86.5%;
}
#type{
  width: 65.5%;
}
#code{
  width: 56.5%;
}
#detail{
  width: 80%;
}
#agency{
  width: 87.5%;
}

.report-info-container{
  background: #f7f7f7;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  width: 100%;
  height:450px;
}

.violation--fee{
  margin-top: 50px;
  width: 100%;
}
.report-info-container input{
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 400;
}
.vehicle-info-container{
  margin-top: 10px;
  /* border:solid 1px #DCDDE1; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 20px);
}
.vehicle-info-cotainer-a{
  background: none;
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  height:60px;
}
.vehicle-info-cotainer-b{
  background: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height:60px;
}
.vehicle-info-cotainer-a div{
  /* border:solid 1px #DCDDE1; */
  /* position: relative; */
  height:100%;
  display: flex;
  align-items: center;
}
.vehicle-info-cotainer-a  div label{
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.76);
  /* position: absolute;
  top:0;
  top:.5px; */
  width:16%;
  padding: 4px 10px;
}
.vehicle-info-cotainer-a div input{
  border:none;
  background:none;
  padding: 0px 0;
  height: 24px;
  /* font-size: 1.2rem; */
  /* position: absolute;
  right:0;
  top:.5px; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
  /* F4490C */
}

.vehicle-info-cotainer-a div input:focus{
  outline: none;
  border-bottom: 3px solid #55c57a;
}
#License{
  width: 77%;
}
#vin-label{
  width: 60%;
  padding: 20px 0px 20px 10px;
}
#VIN{
  width: 33%;
}
.vehicle-info-cotainer-b--div
{
  /* border:solid 1px #DCDDE1; */
  /* position: relative; */
  /* height:100%; */
  width: 100% !important;
  display: flex;
  align-items: center;
}
.vehicle-info-cotainer-b--select{
  border:none;
  background:none;
  padding: 0px 0;
  height: 24px;
  width: 86%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}


.vehicle-info-cotainer-b--select:focus{
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.vehicle-info-cotainer-b--label{
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  /* position: absolute;
  top:0;
  top:.5px; */
  width:9%;
  padding: 20px 10px;
}
.vehicle-info-cotainer-b div input{
  border:none;
  background:none;
  /* padding: 20px 0;
  position: absolute;
  right:0; */
  /* top:.5px; */
  width: 86%;
}

.violation-info-container{
  margin-top: 15px;
  border:solid 1px #DCDDE1;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 20px);
}
.violation-info-container-a{
  background: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height:60px;
}
.violation-info-container-a div{
  /* border:solid 1px #DCDDE1; */
  /* position: relative; */
  height:100%;
  display: flex;
  align-items: center;
}
.violation-info-container-a div label{
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 600;
  /* position: absolute;
  top:0;
  top:.5px; */
  width:19%;
  padding: 20px 10px;
}
.violation-info-container-a div input{
  border:none;
  background:none;
  padding: 20px 0;
  /* position: absolute;
  right:0;
  top:.5px; */
  width: 77%;
}
.alan-btn-Container{
  position: absolute;
  right:  8px;
  bottom: 8px;
  width:  50px;
  height: 50px;
}
.alan-btn-Container div{
 position: relative;
 height: 50px;
}

.submit-button{
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #F4490C;
  margin: 10px 35px;
  cursor: pointer;
}

/* success */
/* $gray: #CBCDD3;
#777777: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4; */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* $font: 'Lato', sans-serif; */


#container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 90vh;
position: relative;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #FCFCFC;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.green {
  color: #99DBB4;
  font-size: 1rem;
  font-weight: bold;
}

.alert {
  font-weight: 700;
  letter-spacing: 5px;
}

p {
  margin-top: -5px;
  font-size: 1em;
  font-weight: 100;
  color: darken(#777777, 10%);
  letter-spacing: 1px;
}


#success-box {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 12%;
  background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(#CBCDD3, 10%);
  perspective: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.dot {
  width: 8px;
  height: 8px;
  background: #FCFCFC;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}

.dot:hover {
  background: darken(#FCFCFC, 20%);
}

.two {
  right: 12%;
  opacity: .5;
}

.face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #FCFCFC;
  border-radius: 50%;
  border: 1px solid #777777;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right {
  left: 68%;
}

.mouth {
  position:absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent #777777 #777777 transparent;
  transform: rotate(45deg);
}
.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: .5;
  background: #777777;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}


.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}

.button-box {
  position: absolute;
  cursor: pointer;
  background: #FCFCFC;
  width: 30%;
  height: 10%;
  border-radius: 10px;
  top: 78%;
  left: 55%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(#777777, .5);
  transition: all .5s ease-in-out;
}

.button-box2{
  left: 15%;
}

.button-box:hover {
  background: darken(#FCFCFC, 5%);
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}

@keyframes bounce {
  50% {
     transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}


/* review */

.main-container-one{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.review-citation-heading{
  color: black;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 30px;
}

.review-main--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.review-container-top{
  display: flex;
  width: 60%;
  border: 2px solid #999;
}

.review-container--top-left{
  width: 50%;
}

.review-container--top-left p, .review-container--top-right P{
font-weight: 400;
font-size: .8rem;
padding: 0 10px;
}

.review-container--top-right{
  width: 50%;
}

.review-container-h1{
font-size:1.2rem;
font-weight: 500;
letter-spacing: 1px;
background-color: #ccc;
margin-top: 0;
padding: 10px 10px;
}

.review-container-bottom{
border: 2px solid #999;
border-top: none;
width: 60%;
}

.review-container-bottom h1{
  font-size:1.2rem;
font-weight: 500;
letter-spacing: 1px;
margin: 0;
text-align: center;
}

.citation-review-button{
  position: absolute;
  right: 20px;
  top:30px;
}